:root {
  --progress-in-percent: 0%;
}

.complition-container {
  width: 200px;
  max-width: 200px;
  height: 20px;
  border-radius: 3px;
  background-color: #d8d8d8;
}

.complition-progress {
  float: left;
  display: block;
  width: var(--progress-in-percent);
  max-width: 200px;
  height: 20px;
  border-radius: 3px;
  background-color: #23c6c8;
}
